{
  "presets": [
    [
      "@babel/env", {
        "debug": true,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": "extends @ladjs/browserslist-config"
        }
      }
    ]
  ]
}
