@import 'node_modules/github-markdown-css/github-markdown';
@import 'node_modules/@primer/css/markdown/index.scss';

.markdown-body {
  margin-left: 20px;
  margin-right: 20px;
  font-family: $font-family-sans-serif;

  @for $index from 1 through 6 {
    h#{$index} {
      .anchor {
        float: left;
        padding-right: 5px;
        margin-left: -20px;
      }
    }
  }

  code, kbd, pre, .commit-tease-sha, .blob-num, .blob-code-inner, {
    font-family: $font-family-monospace;
  }

  code {
    color: #24292e;
    font-size: 100%;
  }

  pre {
    > code {
      display: block;
    }
  }

  pre, .highlight pre {
    font-size: 100%;
    padding: 1rem;
  }
}
