$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
  padding: $footer-height 0 0;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  // set the fixed height of the footer here
  height: $footer-height;

  // vertically center the text there
  line-height: $footer-height;
  background-color: #f5f5f5;
}
