$fa-font-path: "../fonts" !default;
$fa-font-display: "swap" !default;

$font-family-sans-serif: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !default;

$font-family-monospace: 'Inconsolata', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;

$font-family-base: $font-family-sans-serif !default;

$headings-font-family: 'Poppins', $font-family-sans-serif;

$blue: #20C1ED !default;
$cyan: #9DE5F9 !default;
$green: #8CC63F !default;
$yiq-contrasted-threshold:  200 !default;

$enable-responsive-font-sizes: true !default;
