
// # Media Queries

// EXAMPLE Media Query for Responsive Design.
// This example overrides the primary ('mobile first') styles
// Modify as content requires.

@media only screen and (min-width: 35em)
  // TODO: Change this section, I left this basic style in to prevent indent error
  html
    font-size 100%
