.jumbotron.jumbotron-fluid
  .container
    != png2x({ text: `Hello from ${config.appName}`, fontSize: 49, backgroundColor: '#e9ecef', fontNameOrPath: config.emailFontPath })
    p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    p
      a.btn.btn-lg.btn-success(href=config.urls.web, role="button") Sign up today
