.container.py-1.clearfix
  nav
    ul.nav.nav-pills.float-right
      li.nav-item.mr-1
        a.btn.btn-md.btn-outline-secondary(title=t('My Account'), href=config.urls.web)
          != fa.png2x('user', '#ccc', 20, 20, [ [ 'class', 'fa-img' ] ])
      li.nav-item
        a.btn.btn-md.btn-outline-secondary(title="GitHub", href=config.pkg.homepage)
          != fa.png2x('github', '#ccc', 20, 20, [ [ 'class', 'fa-img' ] ])
  a(href=config.urls.web)
    != png2x({ text: config.appName, fontSize: 30, fontNameOrPath: config.fonts.bitter.regular })
