
//- # <%= _.dasherize(name).split('-').join(' ') %> - edit

extends ../layout

block content

  h1 Edit <%= _.humanize(_.classify(name)) %> - #{<%= _.camelize(name) %>.name}

  form(action='/<%= _.pluralize(_.dasherize(name)) %>/' + <%= _.camelize(name) %>.id + '?_method=PUT', method='POST')
    input(type='hidden', name='_csrf', value=csrf)
    input(type='name', name='name', placeholder='name', value=<%= _.camelize(name) %>.name, required)
    button(type='submit') Update <%= _.humanize(_.classify(name)) %>
