
//- # <%= _.dasherize(name).split('-').join(' ') %> - show

extends ../layout

block content
  .container
    .row
      .col-md-4.col-md-offset-4
        h1 <%= _.humanize(_.classify(name)) %> - #{<%= _.camelize(name) %>.name}
      
        a(href='/<%= _.pluralize(_.dasherize(name)) %>/' + <%= _.camelize(name) %>.id + '/edit') Edit <%= _.humanize(_.classify(name)) %>
