
extends layout

block body
  .jumbotron.rounded-0
    .container
      h1.display-3= t('Server Error')
      p.lead.text-muted= t('A server error has unfortunately occurred.  If this error persists, please contact us.')
