
extends layout

block body
  .jumbotron.mb-0.flex-grow-1
    .container
      h1= t('Server Error')
      p.lead.text-muted= t('A server error has unfortunately occurred.  If this error persists, please contact us.')
