
footer.footer
  .container.text-center
    small.text-muted
      ul.m-0.p-0
        li.d-inline
          | &copy;
          = ' '
          = moment().format('YYYY')
          = ' '
          = config.appName
        li.d-inline= t('All Rights Reserved.')
        li.d-inline
          a(href="/terms")= t('Terms')
