
extends layout

block body
  .container-fluid.bg-dark.py-3.px-5.py-md-5.d-block.text-center
    .row
      .col-md-12
        p.lead.mb-0.text-white.font-weight-bold
          = t('We thank you for your generosity and time in considering a donation.')
  .py-5
    .text-center.mb-5
      .h2.display-3.mb-1= emoji('open_hands')
      h2.display-5.font-weight-light.mb-0.text-uppercase= t('Our Methods')
      small.text-black-50.text-uppercase= t('How can I donate?')
      .row.mt-3
        .col-md-6.offset-md-3
          ul.list-unstyled.text-left
            li
              a(href='https://github.com/sponsors/niftylettuce', target='_blank', rel='noopener noreferrer').btn.btn-lg.btn-link.btn-block
                i.fa.fa-github
                = ' GitHub Sponsorship'
            li
              a(href='https://paypal.me/niftylettuce', target='_blank', rel='noopener noreferrer').btn.btn-lg.btn-link.btn-block
                i.fa.fa-paypal
                = ' PayPal'
            li
              a(href='https://www.patreon.com/niftylettuce', target='blank', rel='noopener noreferrer').btn.btn-lg.btn-link.btn-block
                i.fa.fa-patreon
                = 'Patreon'
      p.text-muted= t('We would also appreciate your donation to:')
      ul.list-unstyled
        li: a(href="https://duckduckgo.com/donations", target="_blank", rel="noopener noreferrer").btn.btn-sm.btn-link.btn-block DuckDuckGo
        li: a(href="https://www.eff.org/pages/donate-eff", target="_blank", rel="noopener noreferrer").btn.btn-sm.btn-link.btn-block Electronic Frontier Foundation
