<p>
<%= user.full_name %>,<br />
<br />
Thanks for registering on <strong>Eskimo</strong>.<br />
<br />
<a href="<%= url %>"><%= url %></a><br />
<br />
--<br />
Thanks,<br />
<a href="https://github.com/niftylettuce">@niftylettuce</a>
</p>
