
//- for a list of all available spinners:
//- <https://github.com/tobiasahlin/SpinKit/tree/master/scss/spinners>

#spinner.fixed-top.fade
  //-.
    for some reason #10 from SpinKit has issues with centering
    so we renamed #11 to #10
    also #4 has sizing issues so we excluded it too #}
    https://github.com/tobiasahlin/SpinKit/issues/122 #}

  //- change this to whatever spinner you'd like
  include 10
