
{% extends "layout.njk" %}

{% block body %}

  <div class="container pb-1">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 pt-2">
        <img class="d-block mx-auto img img-fluid img-thumbnail" src="{{ gig.company_logo }}" alt="{{ gig.company_name }}" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 pt-2">
        <p class="hidden-sm-down pull-right text-xs-right mt-2 mb-0"><small><a href="/{{ locale }}/gigs">{{ t('Not interested in this gig?') }}</a></small></p>
        <h1 class="py-2 h3 mb-0 text-xs-center text-md-left">{{ t(gig.gig_title) }}<br /><small class="text-muted">{{ gig.company_name }}</small></h1>
        <p class="lead">{{ t(gig.gig_description) }}</p>
        <hr />
        <a class="btn btn-md btn-primary btn-block" href="{{ gig.company_website}}" target="_blank">{{ t('Visit Website') }}</a>
        <form action="/{{ locale }}/gigs/{{ gig.slug }}" method="POST" class="form-inline ajax-form">
          <input type="hidden" name="_csrf" value="{{ ctx.csrf }}" />
          <button class="btn btn-md btn-success btn-block" type="submit">{{ t('Apply Now') }}</button>
        </button>
        <p class="hidden-md-up text-xs-center mt-2"><a href="/{{ locale }}/gigs">{{ t('Not interested in this gig?') }}</a></p>
      </div>
    </div>
  </div>

{% endblock %}
