
//- # 404

!!! 5
html(lang='en')
head
  meta(charset='utf-8')
  title #{title}
  != cacheBuster('/stylesheets/404.css')
body
  .container
    h1
      | Not found
      span :(
    p Sorry, but the page you were trying to view does not exist.
    p It looks like this was the result of either:
    ul
      li a mistyped address
      li an out-of-date link
  script.
    var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
  script(src='http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js')
