!!!5
head
  meta(charset='utf-8')
  title #{title}
  style.
    body { text-align: center;}
    h1 { font-size: 50px; text-align: center }
    span[frown] { transform: rotate(90deg); display:inline-block; color: #bbb; }
    body { font: 20px Constantia, 'Hoefler Text',  "Adobe Caslon Pro", Baskerville, Georgia, Times, serif; color: #999; text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5); }
    ::-moz-selection{ background:#FF5E99; color:#fff; }
    ::selection { background:#FF5E99; color:#fff; }
    article {display:block; text-align: left; width: 500px; margin: 0 auto; }
    a { color: rgb(36, 109, 56); text-decoration:none; }
    a:hover { color: rgb(96, 73, 141) ; text-shadow: 2px 2px 2px rgba(36, 109, 56, 0.5); }
body
  article: h1 #{status} &nbsp;
    span(frown) :(
  #error-stack-trace
    - if(showStack)
      pre
        code!= error.stack
