h1 Forgot Password
form(action='/forgot-password', method='POST')
  input(type='hidden', name='_csrf', value=csrf)
  #email
    label(for='email') Email
    input(type='email', name='email', value="", required='required', autofocus)
  #submit
    input(type='submit', value='Recover Account')
