h1 Login
- if ('undefined' === typeof email)
  - email = ""
form(action='/login', method='POST')
  input(type='hidden', name='_csrf', value=csrf)
  #email
    label(for='email') Email
    input(type='email', name='email', value=email, required, autofocus)
  #password
    label(for='password') Password
    input(type='password', name='password', required)
  #submit
    input(type='submit', value='Login')
p: a(href="/forgot-password") Forgot your password?
p: a(href="/register") Not yet registered?
