body {
    padding-top: 60px;
    padding-bottom: 40px;
    }

.bs-icon {
    float: left;
    margin: 7px 7px 0 0;
    }

.he-icon {
    float: none;
    margin: 7px 7px 0 0;
    }

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
.navbar-fixed-top .brand {
    float: left;
    font-weight: bold;
    color: #5DB200;
    text-shadow: 1px 1px 1px rgba(4, 8, 0, .4), 0 0 30px rgba(4, 4, 0, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    }

.nav {
    padding-left: 8px;
    }

.sk-icon {
    float: right;
    margin: 3px 7px 0 0;
    }

.table-bordered {
  border: 2px solid #2f588f;
  background-color: #f5f5f5;
    }

.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #2f588f;
}

.table th, .table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  border-top: 1px solid #2f588f;
}