= `${emoji('white_check_mark')} ${user[config.passport.fields.givenName] ? `${user[config.passport.fields.givenName]}, ${t('your account information was updated')}` : t('Account information updated')}`
