
extends ../layout

block body
  .container-fluid.py-3
    .row
      .col
        include ../_breadcrumbs
        p.lead
          if (dayjs().format('HH') >= 12 && dayjs().format('HH') <= 17)
            = t('Good afternoon')
          else if (dayjs().format('HH') >= 17)
            = t('Good evening')
          else
            = t('Good morning')
