
extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.d-block.text-center
          h5.card-header= t('Support inquiry')
          .card-body
            p.card-text
              if inquiry.is_email_only
                = t('Thank you for submitting a support request on our website.  We will get back to you soon!')
              else
                = t('Below is a copy of your request submitted on ')
                = dayjs(inquiry.created_at).format('MM/DD/YY')
                = t(' at ')
                = dayjs(inquiry.created_at).format('h:mm A')
                = '.'
                hr
                p: pre: code= inquiry.message
                hr
                br
                = t('We will review your request and reply as soon as possible.')
          .card-footer: small.text-muted= t('If you did not submit this request, then please reply to let us know.')
