
extends ../layout

block content
  .container.mt-3
    p= `${t('Hi')} ${user.display_name},`
    p
      = t('Please')
      = ' '
      a(href=link)= t('reset your password')
      = ' '
      = t('now, and remember that this link will expire ')
      = moment(user.reset_token_expires_at).fromNow()
      = '.'
