block body
  div.container
    div.hero-unit
      h1 Forgot The ole Password eh?
      p Fill in the blanks and we'll get you hooked up!

    div.row-fluid
        form(action='/forgot-password', method='POST')
          input(type='hidden', name='_csrf', value=csrf)
          #email
            label(for='email') Email
            input.span6(type='email', name='email', value="", required='required', autofocus)
          #submit
            button.btn.btn-primary(type='submit') Recover Account
