extends layout

block body
  div.container
    div.hero-unit
      h1 Expressling
        p Welcome to Expressling

    div.row
      div.span4
        h2 heading
        p Donec id elit non mi porta gravida at eget metus.

      div.span4
        h2 heading
        p Donec id elit non mi porta gravida at eget metus.

      div.span4
        h2 heading
        p Donec id elit non mi porta gravida at eget metus.
