block body
  div.container
    div.hero-unit
      h1 Reset all your secrets here!
      p A quick little something and we'll have that password reset!

    div.row-fluid
        - if ('undefined' !== typeof random_string)
          form(action='/reset-password', method='POST')
            input(type='hidden', name='_csrf', value=csrf)
            input(type='hidden', name='random_string', value=random_string)
            #email
              label(for='email') Email
              input(type='email', name='email', value="", required='required', autofocus)
            #password
              label(for='password') New Password
              input(type='password', name='password', required='required')
            #password_confirmation
              label(for='password_confirmation') Confirm New Password
              input(type='password', name='password_confirmation', required='required')
            #submit
              input(type='submit', value='Reset Password')
