
extends ../layout

block content
  .jumbotron.jumbotron-fluid
    .container
      != png2x({ text: `${t('Hey')} ${user.display_name}`, fontSize: 40, backgroundColor: '#e9ecef', fontNameOrPath: config.fonts.bitter.regular })
      p.lead.mt-2
        :translate(locale)
          Visit our website for complete documentation and tutorials.
          If you need a quick install guide, then see below.
      p
        a.btn.btn-lg.btn-success(href=config.urls.web, role="button")= t('Visit Website')
  .container
    p
      :markdown-it(langPrefix='hljs ')
        ```sh
        npm install -g lad
        lad new-project
        cd new-project
        npm start
        ```
