
extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.d-block.text-center
          h5.card-header= t('The Best Node.js Framework')
          .card-body
            p.card-text= t('Thank you for signing up!')
            a.btn.btn-lg.btn-success(href=config.pkg.homepage, role="button")= t('Read the docs')
          .card-footer: small.text-muted= t('If you did not submit this request, then please reply to let us know.')
