
extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.d-block.text-center
          h5.card-header= t('Account recovery')
          .card-body
            p.card-text= t('You have successfully verified your account for recovery.  An administrator will follow-up within 3-5 business days to unlock access to your account.')
          .card-footer: small.text-muted= t('If you did not submit this request, then please reply to let us know.')
