
{% extends "layout.njk" %}

{% block body %}

  <div class="container">
    <div class="jumbotron m-t-1">
      <h1>Page not found</h1>
      <p>We're sorry, but the page you requested could not be found.</p>
    </div>
  </div>

{% endblock %}
