
{% extends "layout.njk" %}

{% block body %}

  <div class="container">
    <div class="jumbotron m-t-1">
      <h1>{{ t('Server Error') }}</h1>
      <p>{{ t('A server error has unfortunately occurred.  If this error persists, please contact us.') }}</p>
    </div>
  </div>

{% endblock %}
