<footer class="footer">
  <div class="container text-xs-center">
    <small class="text-muted">
      <ul class="m-0 p-0">
        <li class="d-inline">&copy; {{ moment().format('YYYY') }} {{ config.copyright }}</li>
        <li class="d-inline">{{ t('All Rights Reserved.') }}</li>
        <li class="d-inline"><a href="/terms">{{ t('Terms') }}</a></li>
      </ul>
    </small>
  </div>
</footer>
