<footer class="footer">
  <div class="container text-xs-center">
    <small class="text-muted">&copy; {{ moment().format('YYYY') }} {{ config.appName }}.  All Rights Reserved.  <a href="/terms">Terms</a></small>
  </div>
</footer>
