<footer class="footer">
  <div class="container text-xs-center">
    <small class="text-muted">
      <ul class="m-a-0">
        <li class="d-inline">&copy; {{ moment().format('YYYY') }} {{ config.appName }}.</li>
        <li class="d-inline">All Rights Reserved.</li>
        <li class="d-inline"><a href="/about">About</a></li>
        <li class="d-inline">&bull;</li>
        <li class="d-inline"><a href="/contact">Contact</a></li>
        <li class="d-inline">&bull;</li>
        <li class="d-inline"><a href="/terms">Terms</a></li>
      </ul>
    </small>
  </div>
</footer>
