
{% extends "layout.njk" %}

{% block body %}

  <div class="container">
    <div class="jumbotron m-t-1">
      <h1>About</h1>
      <p class="lead">{{ t('Insert something exciting here.  Share your story!') }}</p>
    </div>
    <blockquote class="blockquote">
      <p>{{ t('Coffee at 3 AM was considered normal!') }}</p>
      <footer><a href="https://github.com/niftylettuce" target="_blank">@niftylettuce</a></footer>
    </blockquote>
  </div>

{% endblock %}
