
{% extends "layout.njk" %}

{% block body %}

  <div class="container">
    <div class="row mt-1 mb-1">
      <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-block">
            <h1 class="card-title h4">{{ t('Forgot Password') }}</h1>
            <p>{{ t('If you need to reset your password, then enter your email below.') }}</p>
            <form action="/{{ locale }}/forgot-password" method="POST" autocomplete="off" class="ajax-form">
              <input type="hidden" name="_csrf" value="{{ ctx.csrf }}" />
              <div class="form-group">
                <input type="email" autocomplete="off"  name="email" class="form-control" id="input-email" placeholder="{{ t('Email address') }}" />
              </div>
              <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-envelope"></i> {{ t('Send Password Reset Link') }}</button>
            </form>
          </div>
          <div class="card-footer text-xs-center">
            {{ t('Remember your password?') }} <a href="/login" class="card-link">{{ t('Log in now') }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}
