
{% extends "layout.njk" %}

{% block body %}

  <div class="container">
    <div class="jumbotron">
      <h1>You have set-up Glazed successfully!</h1>
      <p>
        <a class="btn btn-lg btn-primary" href="http://glazed.io" role="button">View Glazed docs <i class="fa fa-arrow-right"></i></a>
      </p>
    </div>
  </div>

{% endblock %}
