<!doctype html>
<html class="no-js" lang="{{ locale }}">
  <head>

    {% block head %}

      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{meta.title}}</title>
      <meta name="description" content="{{meta.description}}">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {# languages supported #}
      {# https://support.google.com/webmasters/answer/189077?hl=en #}
      {# https://support.google.com/webmasters/answer/182192?hl=en #}
      <link rel="alternate" href="{{ config.urls.web }}" hreflang="x-default" />
      {% for language in languages %}
        <link rel="alternate" href="{{ config.urls.web }}/{{ language.locale }}" hreflang="{{ language.locale }}" />
      {% endfor %}

      {# generated with https://realfavicongenerator.net #}
      <link rel="apple-touch-icon" sizes="152x152" href="{{ manifest('img/apple-touch-icon.png') }}">
      <link rel="icon" type="image/png" href="{{ manifest('img/favicon-32x32.png') }}" sizes="32x32">
      <link rel="icon" type="image/png" href="{{ manifest('img/favicon-16x16.png') }}" sizes="16x16">
      <link rel="manifest" href="/manifest.json">
      <link rel="mask-icon" href="{{ manifest('img/safari-pinned-tab.svg') }}" color="{{ config.appColor }}">
      <meta name="apple-mobile-web-app-title" content="{{config.appName }}">
      <meta name="application-name" content="{{ config.appName }}">
      <meta name="theme-color" content="{{ config.appColor }}">

      {# csrf token #}
      <meta name="csrf-token" content="{{ csrf }}">
      <script>window._csrf = "{{ csrf }}";</script>

      {# add opengraph tags to your structured data pages #}
      {% block opengraph %}
      {% endblock %}

      {# css file #}
      <link rel="stylesheet" href="{{ manifest('css/app.css') }}">

    {% endblock %}

  </head>

  <body>

    {# spinner #}
    {% block spinner %}
      {% include "spinner/spinner.njk" %}
    {% endblock %}

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {# navigation #}
    {% block navigation %}
      {% include "_nav.njk" %}
    {% endblock %}

    {# body #}
    {% block body %}
      {% include "home.njk" %}
    {% endblock %}

    {# footer #}
    {% block footer %}
      {% include "_footer.njk" %}
    {% endblock %}

    {# sweetalert flash messaging #}
    <script>
      window._types = {
        success: "{{ t('Success') }}",
        error: "{{ t('Error') }}",
        info: "{{ t('Info') }}",
        warning: "{{ t('Warning') }}",
        question: "{{ t('Question') }}"
      };
      window._messages = {{ flash() | json | safe }};
    </script>

    {# raven client-side logging with console support #}
    {% if config.env == 'production' and config.raven %}
      <script src="//cdn.ravenjs.com/3.7.0/console/raven.min.js"></script>
      <script>
        if (window.Raven && typeof window.Raven === 'object') {
          Raven.config('{{ config.raven }}').install();
          {% if user %}
          Raven.setUserContext({
            email: "{{ user.email }}",
            id: "{{ user.id }}",
            ip_address: "{{ req.ip }}"
          });
          {% else %}
          Raven.setUserContext({
            ip_address: "{{ req.ip }}"
          });
          {% endif %}
        }
      </script>
    {% endif %}

    {# scripts get loaded here #}
    {% block scripts %}
      <script src="{{ manifest('js/core.js') }}"></script>
      <script src="{{ manifest('js/flash.js') }}"></script>
    {% endblock %}

    {# google analytics #}
    {% if config.env == 'production' and config.ga %}
      <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','{{ config.ga }}','auto');ga('send','pageview');
      </script>
    {% endif %}

  </body>
</html>
