
{% extends "layout.njk" %}

{% block body %}

  <div class="container pb-1">
    <div class="row mt-1">
      <h1 class="h6 text-uppercase text-muted">{{ t('My Account') }}</h1>
      <h2>{{ t('Dashboard') }}</h2>
      <h3>
        {% if moment().format('HH') >= 12 and moment().format('HH') <= 17 %}
          {{ t('Good afternoon') }},
        {% elif moment().format('HH') >= 17 %}
          {{ t('Good evening') }},
        {% else %}
          {{ t('Good morning') }},
        {% endif %}
        <span> {{user.display_name}}!</span>
      </h3>
      <p>{{ t('This is your account page.') }}</p>
      <h2>{{ t('API Key') }}</h2>
      <code id="api-key">{{ user.api_token }}</code>
      <button class="btn btn-secondary btn-sm" data-toggle="clipboard" data-clipboard-target="#api-key"><i class="fa fa-clipboard"></i> {{ t('Copy') }}</button>
    </div>
  </div>

{% endblock %}
