
{% extends "layout.njk" %}

{% block body %}

  <div class="container">
    <div class="row m-t-1 m-b-1">
      <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-block">
            <h1 class="card-title h4">Reset Password</h1>
            <p class="lead">Reset your password by confirming your email address and entering a new password below.</p>
            <form action="{{ ctx.req.path }}" method="POST" autocomplete="off">
              <input type="hidden" name="_csrf" value="{{ csrf }}" />
              <div class="form-group">
                <label for="input-email">Email address</label>
                <input type="email" autocomplete="off" name="email" class="form-control" id="input-email" placeholder="Email address" />
              </div>
              <div class="form-group">
                <label for="input-password">Password</label>
                <input type="password" autocomplete="off"  name="password" class="form-control" id="input-password" placeholder="Password" />
              </div>
              <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-envelope"></i> Set New Password</button>
            </form>
          </div>
          <div class="card-footer text-xs-center">
            Having trouble? <a href="/forgot-password" class="card-link">Start over now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}
