
{% extends "layout.njk" %}

{% block body %}

  <div class="container">
    <div class="row m-t-1 m-b-1">
      <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-block">
            <h1 class="card-title h4">{{ t('Reset Password') }}</h1>
            <p>{{ t('Please confirm your email and enter a new password.') }}</p>
            <form action="{{ ctx.req.path }}" method="POST" autocomplete="off" class="ajax-form">
              <input type="hidden" name="_csrf" value="{{ csrf }}" />
              <div class="form-group">
                <input type="email" autocomplete="off" name="email" class="form-control" id="input-email" placeholder="{{ t('Email address') }}" />
              </div>
              <div class="form-group">
                <input type="password" autocomplete="off"  name="password" class="form-control" id="input-password" placeholder="{{ t('Password') }}" />
              </div>
              <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-envelope"></i> {{ t('Set New Password') }}</button>
            </form>
          </div>
          <div class="card-footer text-xs-center">
            {{ t('Having trouble?') }} <a href="/{{ locale }}/forgot-password" class="card-link">{{ t('Start over now') }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}
