
//- # home

extends layout

block content
  .container
    .row
      .col-md-12
        .igloo-intro(style='padding: 60px 15px; text-align: center;')
          h1 Welcome to Igloo!
          img(src='/img/igloo.png', alt='Igloo', style='padding: 40px;', onclick='bootbox.alert("Hey! This is BootBox!")')
          p Igloo is a lightweight, fast, and minimal framework for rapid development
          - var igloo = 'http://igloojs.com'
          p: a(href=igloo)= igloo
