<p>
<%= user.full_name %>,<br />
<br />
Oops, you forgot your password!  Don't worry &ndash; you can reset it at the link below:<br />
<br />
<a href="<%= resetURL %>"><%= resetURL %></a><br />
<br />
--<br />
Thanks,<br />
<a href="https://github.com/niftylettuce">@niftylettuce</a>
</p>
