
{% extends "../layout.njk" %}

{% block content %}

  <p>{{ t('Hello,') }}</p>
  {% if inquiry.is_email_only %}
    <p>{{ t('Thank you for submitting a contact request on our website.  We will get back to you soon!') }}</p>
  {% else %}
    <p>{{ t('Below is a copy of your request submitted on') }} {{ moment(inquiry.created_at).format('MM/DD/YY') }} at {{ moment(inquiry.created_at).format('h:mm A') }}.</p>
    <hr />
    <p><pre><code>{{ inquiry.message }}</code></pre></p>
    <hr />
    <p>{{ t('We will review your submission and get back to you shortly!') }}</p>
  {% endif %}
  <p>{{ t('If you did not submit this contact request, then please let us know so we can further investigate.') }}</p>

{% endblock %}
